name: Run integration tests

on:
  pull_request:
    types: [labeled, synchronize, reopened]
    paths-ignore:
      - 'docs/**'

jobs:
  integration-tests:
    runs-on: ubuntu-22.04

    if: contains(github.event.pull_request.labels.*.name, 'integration-tests')

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'


      - name: Install dependencies
        run: |
          set -x

          sudo apt-get update -qq
          sudo apt-get install -y --no-install-recommends \
          ca-certificates libc-bin gcc cpu-checker
          sudo update-ca-certificates
          sudo rm -rf /var/lib/apt/lists
         


      - name: Run integration tests
        run:  sudo kvm-ok
